p {
    font-size: 1.2em;
}

html[data-theme=light] {
    --pst-color-table-row-hover-bg: #b3b3afc0;
}

/*
html[data-theme=dark] {
    --pst-color-table-row-hover-bg: #528fe4;
}
rgba(185, 22, 207, 0.99);
*/

html {
    --pst-sidebar-secondary:0
}
object[type="image/svg+xml"] {
    /*width: 80% !important;*/
    /*height: 80% !important;*/
    display: block !important;
    margin: 0 auto !important;
    max-height: 600px !important;
    width: auto !important;
    object-fit: contain !important;
}

.prev-next-area {
    display: none;
}
